@import "layouts/article";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/note";
@import "components/list-icons";
@import "components/stars";
@import "components/testimonials";
@import "components/learnmore";
@import "components/button";

.container {
	max-width: 1100px;
}
// Layout Style
.navbar {
	&-brand {
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 110%;
		font-family: $font-family-sans-serif;
		a,
		span {
			font-size: inherit;
			font-weight: inherit;
		}
	}
}
//header
.header-top {
	&__title {
		opacity: 0.5;
		color: $white;
	}
}

//main
.main {

}
