@import "layouts/article";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/note";
@import "components/list-icons";
@import "components/stars";
@import "components/testimonials";
@import "components/learnmore";
@import "components/button";

.container {
	max-width: 1100px;
}
// Layout Style
.navbar {
	&-brand {
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 110%;
		font-family: $font-family-sans-serif;
		a,
		span {
			font-size: inherit;
			font-weight: inherit;
		}
	}
}
//header
.header-top {
	&__title {
		opacity: 0.5;
		color: $white;
	}
}

//main
.main {

}

//mobile sticky button
.mobile-fixed {
	width: 100%;
	display: none;
	flex-direction: column;
	padding: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	h4 {
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 110%;
		text-align: center;
		letter-spacing: -0.5px;
	}
	.btn-action {
		width: 100%;
		padding: 11px 50px;
		font-size: 24px;
	}
	@include media-breakpoint-down(sm) {
		&.is-visible {
			display: flex;
		}
		&.is-hidden {
			display: none;
		}
	}
}
