.note {
	border: 1px solid rgba(59, 143, 200, 0.2);
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 30px;
	&-subtitle {
		font-style: italic;
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		opacity: 0.6;
		margin-bottom: 1rem;
	}
	&-wrapper {
		display: flex;
		flex-direction: column;
		padding: 0;
		position: relative;
		@include media-breakpoint-up(md) {
			flex-direction: row;
			padding: 0 0 0 66px;
		}
	}
	&-person {
		display: block;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto 20px;
		@include media-breakpoint-up(md) {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			margin: 0;
		}
		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	&-message {
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		font-style: italic;
		font-weight: 700;
		color: $black;
		@include media-breakpoint-up(md) {
			font-size: 18px;
			line-height: 24px;
			text-align: left;
		}
	}
}
