:root {
	--star-size: 21px;
	--star-color: #EAF8FF;
	--star-white-color: #fff;
	--star-background: #FCB60D;
	--star-blue-background: #3B8FC8;
}

.stars {
	--percent: calc(var(--rating) / 5 * 100%);
	
	display: inline-block;
	font-size: var(--star-size);
	font-family: Times; // make sure ★ appears correctly
	line-height: 1;
	
	&::before {
		content: '★★★★★';
		letter-spacing: -1px;
		background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&--primary-bg {
		&:before {
			background: linear-gradient(90deg, var(--star-blue-background) var(--percent), var(--star-color) var(--percent));
		}
	}
	&--lg {
		font-size: 18px;
	}
}

.stars-blue {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	i {
		width: 32px;
		height: 32px;
		display: inline-flex;
		font-size: 24px;
		padding: 4px;
		color: $white;
		background: $info;
		
		&	+ i {
			margin-left: 1px;
		}
	}
}
