.testimonials {
	display: flex;
	flex-direction: column;
	width: 100%;
	p {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 157%;
		text-align: center;
		
		b,strong {
			font-weight: 600;
			color: $black;
		}
	}
	
	&-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0;
		list-style: none;
		&.carousel-inner {
			display: block;
		}
	}
	&-item {
		flex-direction: column;
		width: 100%;
		padding: 30px 30px 35px;
		margin-bottom: 15px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
	}
	&-author {
		font-weight: 700;
		font-size: 20px;
		line-height: 23px;
		color: $info;
		a,
		.name {
			display: inline;
			text-decoration: none;
		}
	}
	.stars {
		font-size: 18px;
	}
	&-status {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		margin-top: 8px;
	}
	&-text {
		font-weight: 400;
		font-size: 18px;
		line-height: 157%;
		color: $text-dark;
		margin-top: 20px;
	}
	.carousel {
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
	}
	.carousel-item {
		height: auto;
		
		.testimonials-item {
			padding: 20px 20px 50px;
			margin-bottom: 0;
		}
	}
	.carousel-indicators [data-bs-target] {
		width: 8px;
		height: 8px;
		background: rgba($info, 0.5);
		border: 0;
		border-radius: 50%;
		&.active {
			background: $info;
		}
	}
	.carousel-indicators {
		margin-bottom: 0;
		bottom: -30px;
	}
	
	.stars-blue {
		margin: 25px auto 20px;
	}
}
